/* POUR LES .postChild */
#CONTAINER > div.post,
#CONTAINER > div.post.active > div.postChild{
	/* position */
	display: block;
	position: relative;
		width: calc( 100% - 2px );
	padding: 1em;

	/* border */
	border: 1px solid #e1e8ed;
	border-bottom: 0;

	/* background */
	background-color: #fff;

	/* animation */
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;

	/* extra */
	cursor: pointer;
}

#CONTAINER > div.post > div.postChild{
	display: none;
}

/* TAILLE .postChild */
#CONTAINER  > div.post.active > div.postChild{
	width: calc( 100% - 2*1em );
}

/* PREMIER .postChild */
#CONTAINER  > div.post.active > div.postChild:nth-child(4){
	margin-top: 1em;
}

/* @hover */
#CONTAINER > div.post:first-child:hover,
#CONTAINER > div.post > div.postChild:hover{
	background-color: #f5f8fa;
}

/* POUR LE PREMIER POST */
#CONTAINER > div.post:first-child,
#CONTAINER > div.post > div.postChild:nth-child(4){
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

/* POUR LE DERNIER POST */
#CONTAINER > div.post:last-child,
#CONTAINER > div.post > div.postChild:last-child{
	border-bottom: 1px solid #e1e8ed;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}









/* MINIATURE */
#CONTAINER > div.post > img,
#CONTAINER > div.post > div.postChild > img{
	/* position */
	display: inline-block;
	position: absolute;
		width: 3em;

	/* border */
	border-radius: 5px;
}



/* TITRE */
#CONTAINER > div.post > h6,
#CONTAINER > div.post > div.postChild > h6{
	/* position */
	display: inline-block;
	position: absolute;
		margin-left: 4em;

	font-size: 1em;
}

/* ZONE DE TEXTE */
#CONTAINER > div.post > p,
#CONTAINER > div.post > div.postChild > p{
	/* position */
	display: inline-block;
	position: relative;
		margin-top: 1.2em;
		margin-left: 4em;
}





/* LOCALISATION */
#CONTAINER > div.post.location{
	/*background: #5a8ab5;*/
	color: #b9b9b9;
}

/* localisation */
#CONTAINER > div.post.location > input[type=button]:nth-child(1),
#CONTAINER > div.post.location > input[type=button]:nth-child(2){
	/* position */
	display: inline-block;
	position: relative;
	padding: .2em .5em;

	/* border */
	border-radius: 3px;
	border: 1px solid #2a67e4;

	/* background */
	background-color: #2a67e4;

	/* foreground */
	color: #fff;

	/* extra */
	cursor: pointer;
}


#CONTAINER > div.post.location > input[type=button]:nth-child(2){
	border-color: #26ca67;
	background-color: #26ca67;

	border-radius: 5px 0 0 5px;
}

/* 1 @hover */
#CONTAINER > div.post.location > input[type=button]:nth-child(1):hover{
	border-color: #2e73ff;
	background-color: #2e73ff;
}

/* 2 @hover */
#CONTAINER > div.post.location > input[type=button]:nth-child(2):hover{
	border-color: #26d16b;
	background-color: #26d16b;
}

#CONTAINER > div.post.location > input[type=text]:nth-child(3){
	/* position */
	display: inline-block;
	position: relative;
		width: auto;
		margin-left: -4px;
	padding: calc( .2em + 1px ) .5em;

	/* border */
	border-radius: 0 5px 5px 0;
	border: 1px solid #ccc;



}




/* STYLE DE LA LIVE-MAP */
#CONTAINER > #live-map{
	/* position */
	display: block;
	position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: calc( 100% - 5em - 2em - 2*2px );
	
}