/* POUR LES .post */
#CONTAINER > div.post{
	/* position */
	display: block;
	position: relative;
		width: calc( 100% - 2px );
	padding: 1em;

	/* border */
	border: 1px solid #e1e8ed;
	border-bottom: 0;

	/* background */
	background-color: #fff;

	/* animation */
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;

	/* extra */
	cursor: pointer;
}

/* @hover */
#CONTAINER > div.post:hover{
	background-color: #f5f8fa;
}

/* POUR LE PREMIER POST */
#CONTAINER > div.post:first-child{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

/* POUR LE DERNIER POST */
#CONTAINER > div.post:last-child{
	border-bottom: 1px solid #e1e8ed;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}









/* MINIATURE */
#CONTAINER > div.post > img{
	/* position */
	display: inline-block;
	position: absolute;
		width: 3em;

	/* border */
	border-radius: 5px;
}



/* TITRE */
#CONTAINER > div.post > h6{
	/* position */
	display: inline-block;
	position: absolute;
		margin-left: 4em;

	font-size: 1em;
}

/* ZONE DE TEXTE */
#CONTAINER > div.post > p{
	/* position */
	display: inline-block;
	position: relative;
		margin-top: 1.2em;
		margin-left: 4em;
}





/* LOCALISATION */
#CONTAINER > div.post.location{
	/*background: #5a8ab5;*/
}

/* localisation */
#CONTAINER > div.post.location > input{
	/* position */
	display: inline-block;
	position: relative;
	padding: .2em .5em;

	/* border */
	border-radius: 3px;
	border: 1px solid #2a67e4;

	/* background */
	background-color: #2a67e4;

	/* foreground */
	color: #fff;

	/* extra */
	cursor: pointer;
}

#CONTAINER > div.post.location > input:nth-child(2){
	border-color: #26ca67;
	background-color: #26ca67;
}